
/* CERA Medium */
@font-face {
  font-family: 'CERA Black';
  src: url(import.meta.env.VITE_CERA_BLACK_FONT_URL) format('woff2'),
       url(import.meta.env.VITE_CERA_BLACK_FONT_URL) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* CERA Bold */
@font-face {
  font-family: 'CERA Thin';
  src: url(import.meta.env.VITE_CERA_THIN_FONT_URL) format('woff2'),
       url(import.meta.env.VITE_CERA_THIN_FONT_URL) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Nombres específicos para cada peso (opcional) */
@font-face {
  font-family: 'CERA Light';
  src: url(import.meta.env.VITE_CERA_LIGHT_FONT_URL) format('woff2'),
       url(import.meta.env.VITE_CERA_LIGHT_FONT_URL) format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CERA Regular';
  src: url(import.meta.env.VITE_CERA_REGULAR_FONT_URL) format('woff2'),
       url(import.meta.env.VITE_CERA_REGULAR_FONT_URL) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CERA Medium';
  src: url(import.meta.env.VITE_CERA_MEDIUM_FONT_URL) format('woff2'),
       url(import.meta.env.VITE_CERA_MEDIUM_FONT_URL) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CERA Bold';
  src: url(import.meta.env.VITE_CERA_BOLD_FONT_URL) format('woff2'),
       url(import.meta.env.VITE_CERA_BOLD_FONT_URL) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}